* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    outline: none;
    transition: .3s;
}
::placeholder {
    font-weight: lighter;
    opacity: .65;
}
/* font */
.montserrat {
    font-family: "Montserrat", serif;
    font-weight: 700;
}
.caslo {
    font-family: "Libre Caslon Text", serif; 
}
.bebas {
    font-family: "Bebas Neue", serif;
}
.bebas-like {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.5px; /* Уменьшаем ширину символов */
    text-transform: uppercase;
}
.fira {
    font-family: "Arima Sans", serif;
}
/* section */
.section {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-0 {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}
/* .section-50 {
    max-width: 1430px;
    margin: 110px auto 0 auto;
} */
.section-50 {
    max-width: 1430px;
    margin: 50px auto 0 auto;
    /* padding: 0 20px; */
}
.section-160 {
    max-width: 1340px;
    margin: 160px auto 0 auto;
    padding: 0 20px;
}